{% extends "base.html" %}
{% block content %}
  <section class="rounded-2xl p-10 bg-white shadow">
    <h1 class="text-2xl font-semibold mb-2">À propos de {{ COMPANY_NAME }}</h1>
    <p class="text-gray-700">Créé en 1984, Bamyrag s’est développée tout d’ abord
      dans la Distribution traditionnelle qui était l’unique réseau alimentaire de
      l’époque et s’est également implantée quelques années plus tard dans
      la Grande Distribution, avec l’arrivée des premiers Supermarchés et
      Hypermarchés ensuite.
    Bamyrag Distribution s’engage dans l’environnement,
      le développement durable, la sécurité et le bien-être au
      travail de ses employés, avec la mise en place depuis plusieurs
      années d’une charte HSE.</p>
  </section>
{% endblock %}
